body {
    margin: 0;
    background-color: #111716;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    user-select: none;
}

aside {
    background-color: #42535A;
    width: 15%;
    height: 100vh;
    position: fixed;
}

aside ul {
    list-style: none;
    color: #E8EEED;
    padding: 0;
    margin-left: 15%;
}

#Secoes {
    margin-top: 20%;
}

#Secoes li {
    margin-top: 10%;
}

#Secoes li:hover {
    cursor: pointer;
}

#Secoes a {
    text-decoration: none;
    color: #E8EEED;
}

#redes {
    display: flex;
    font-size: 40px;
    margin-top: 30%;
}

#redes a {
    color: #E8EEED;
}

#redes li {
    margin-right: 12%;
}

main {
    color: #E8EEED;
    height: 150vh;
    margin-left: 15%;
    width: 70%;
}

#Title {
    position: relative;
    top: 12%;
    left: 5%;
}

#Desgraca {
    height: 50vh;
    position: absolute;
    right: 15%;
    top: 20%;
}

#FotoEu {
    height: 20vh;
    right: 27%;
    top: 10%;
    position: absolute;
}

#Icons {
    display: flex;
    position: relative;
    top: 18%;
    left: 5%;
}

#Icons div {
    margin-right: 5%;
}

.icone img {
    height: 15vh;
}

.icone img:hover {
    transform: scale(1.1);
}

#Lamp {
    position: absolute;
    right: 5%;
    top: 5%;
}

#LampC {
    height: 5vh;
}

#about {
    position: absolute;
    left: 65%;
    z-index: 3;
    font-size: 16px;
}

#Projetos {
    margin-top: 30%;
    height: 80vh;
    width: 85%;
    position: absolute;
}

#TITProje {
    position: absolute;
    top: 75%;
    left: 20%;
    font-size: 40px;
}

.linha {
    z-index: 2;
    width: 100%;
    height: 30vh;
    padding-top: 1.8vh;
    display: flex;
}

.fotoEsq img {
    height: 90%;
    margin-left: 30%;
}

.fotoDir img {
    height: 90%;
    margin-left: 180%;
}

#DescProj1,
#DescProj2,
#DescProj3,
#DescProj4,
#DescProj5 {
    background-color: #ACC2BD;
    height: 30vh;
    width: 36%;
    border-radius: 50px;
    position: absolute;
}

#DescProj1 {
    right: 15%;
    font-size: 16px;
}

#DescProj1 p {
    margin-top: 10%;
    margin-left: 5%;
    user-select:text;
}

#DescProj2 {
    left: 15%;
    background-color: #42535A;
    font-size: 16px;
}
#DescProj2 p {
    margin-top: 10%;
    margin-left: 5%;
    user-select:text;
}
#DescProj3 {
    right: 15%;
    background-color: #728597;
    font-size: 16px;
}
#DescProj3 p {
    margin-top: 10%;
    margin-left: 5%;
    user-select:text;
}
#t3{
    margin-left: 9%;
}
#DescProj4 {
    left: 15%;
    font-size: 16px;
}
#DescProj4 p {
    margin-top: 10%;
    margin-left: 5%;
    user-select:text;
}
#DescProj5 {
    right: 15%;
    background-color: #42535A;
    font-size: 16px;
}
#DescProj5 p {
    margin-top: 10%;
    margin-left: 5%;
    user-select:text;
}
#t5{
    margin-left: 9%;
}

#Carrossel {
    height: 30vh;
    width: 100%;
    position: relative;
    top: 150%;
    left: 7%;
}

.CARROSSEL {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;
}

.CARROSSEL--wrapper {
    display: flex;
    position: relative;
    height: 100%;
    animation: scroll 20s linear infinite;
    /* Adjust speed */
}

.CARROSSEL--item {
    width: 15vw;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* Disable text selection */
}

.CARROSSEL--item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.CARROSSEL--item:hover {
    transform: scale(1.25);
    transition: 0.3s;
    cursor: pointer;
}

#Contato {
    width: 100%;
    height: 55vh;
    position: relative;
    top: 160%;
    left: 3%;
}

.texto {
    outline: none;
    border-radius: 25px;
    border: none;
    height: 6vh;
    padding-left: 1.8%;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 30%;
    margin-right: 5%;
}

#linhanome {
    margin-top: 5%;
}

#msg {
    margin-top: 5%;
    margin-left: 2%;
    width: 50%;
    height: 22vh;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 1.8%;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    resize: none;
    padding-top: 2%
}

#btn {
    cursor: pointer;
    width: 12%;
    height: 5vh;
    border: none;
    border-radius: 25px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 3%;
    transition: .3s;
}

#btn:hover {
    transform: scale(1.2);
    background-color: #abadaf;
}

#Rodapé {
    background-color: #728597;
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 360%;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
}